!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(rel="icon" type="image/png" href="favicon.png")
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic")
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %title GK2.sk
  %body

    .box
      .clear
        %h1 Pavol Rusnák
        %p.center software, hardware and electronics hacking
      .left
        %img#foto(src="cv/photo-color.png")
      .left
        %ul
          %li.email
            email:
            %a(href="mailto:stick@gk2.sk") stick@gk2.sk
          %li.jabber
            jabber:
            %a(href="xmpp:stick@gk2.sk") stick@gk2.sk
          %li.phone
            phone: (+420) 22595&times;34396
        %ul
          %li.cv
            %a(href="http://gk2.sk/cv/") cv
          %li.blog
            %a(href="http://stick.gk2.sk/") blog
          %li.twitter
            %a(href="http://www.twitter.com/pavolrusnak") twitter
          %li.github
            %a(href="http://github.com/prusnak") github
          %li.linkedin
            %a(href="http://linkedin.com/in/prusnak") linkedin
      .clear
        %p.center Currently I'm involved in the following endeavours (or startups if you will):
      %table
        %tr
          %td
            %a(href="http://fabhack.com/")
              %img(src="fabhack.png")
          %td
            Software, Hardware, Electronics and small-scale Fabrication Consulting
        %tr
          %td
            %a(href="http://bitcointrezor.com/")
              %img(src="trezor.png")
          %td
            A step in the evolution of Bitcoin towards a completely safe payment system
        %tr
          %td
            %a(href="http://pebe.cz/lab/")
              %img(src="pebelab.png")
          %td
            Hi-tech Experimental Design and New Media Interactive Installations and Objects
      .clear
        %p.desc.center Need help with an interesting project? Don't hesitate to contact me!

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15639638-5']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
