body {
  background: #ccc;
  padding: 8px;
  font-family: 
}

a {
  color: blue;
}

#logo {
  margin-left: 200px;
  width: 256px;
  height: 256px;
}

.box {
  background: white;
  width: 656px;
  height: 656px;
  border: 1px dashed black;
  margin: 8px;
  padding: 16px;
  float: left;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 2em;
}

.title {
  text-align: center;
}

p {
  text-align: justify;
}

p.desc {
  font-style:italic;
}

img.thumb {
  width: 128px;
  height: 96px;
}
