body {
  background: #ccc url('back.png');
  padding: 8px;
  font-family: 'PT Sans', sans-serif;
  width: 2850px;
}

a {
  color: blue;
}

#logo {
  margin-top: 20px;
  margin-left: 200px;
  width: 256px;
  height: 256px;
}

#logo_text {
  margin-left: 200px;
  width: 256px;
  height: 64px;
}

.box {
  background: white;
  width: 660px;
  height: 660px;
  border: 1px dashed black;
  margin: 8px;
  padding: 16px;
  float: left;
  margin-bottom: 32px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
}

h2 {
  margin: 0;
  font-size: 2em;
  font-family: 'PT Sans Caption', sans-serif;
}

.name {
  margin: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'PT Sans Caption', sans-serif;
}

.title {
  text-align: center;
}

p {
  text-align: justify;
}

p.desc {
  font-style: italic;
}

p.center {
  text-align: center;
}

img.thumb {
  width: 128px;
  height: 96px;
}

li {
  margin-left: -1em;
}

#scrollinfo {
  text-align: right;
  width: 660px;
  position: absolute;
  top: 660px;
}
